*{
    margin: 0;
    /* background-color: lightpink; */
}

#logo{
    width: 10%;
}

.menu{
    position: absolute;
    top: 0%;
    left: 10%;
    background: hotpink;
    width: 100%;
}

.menu ul li{
    display: inline-block;
}