*{
    margin: 0;
    /* background-color: lightpink; */
}

#logo{
    width: 10%;
}

.menu{
    position: absolute;
    top: 8%;
    left: 12%;
    background: hotpink;
}

.menu ul li{
    display: inline-block;
}