*{
    margin: 0;
    /* background-color: lightpink; */
}

#logo{
    width: 10%;
}

.menu{
    position: absolute;
    top: 0%;
    left: 10%;
    background: hotpink;
    width: 100%;
}

.menu ul li{
    display: inline-block;
}

.schedule{
    background-color: rgb(255, 235, 193, .5);
}

.center th td{
    border-width: 2px;
    border-style: solid;
    border-collapse: collapse;
    border-color:rgb(224, 122, 95);
}

.center{
    width: 75%;
    background-color: rgba(242, 204, 143, 0.671);
    border-radius: 20px;
}

td, th{
    height: 5%;
}

.sem{
    text-transform: uppercase;
}

.center{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

form{
    display: inline;
}


.top{
    width: 100%;
    background: rgb(129, 178, 154);
    padding: 0%;
}

.first{
    border-width: 2px;
    border-color:rgb(129, 178, 154);
    border-style: solid;
    width: 100%;

}

.sch{
    width: 10%;
}

.sem{
    width: 10%;
}

.search{
    width: 10%;
    text-align: right;
}

.home{
    width: 5%;
    text-align: right;
}

.space{
    width: 45%;
}

.Course-Title{
    text-align: center;
    padding-block: 5px;
}

.Course-Image {
    float: right;
    position:relative;
}

.Course-Details{
    position: relative;
    background-color: yellow;
    box-sizing: content-box;
    float: left;
    overflow: hidden;
    border-radius: 5px;
    border-color: gray;
    border-style: groove;
    
}

.Course-Sections{
    padding-top: 40px;

}

.Paragraphs {
    padding:20px;
}

.Course-Table{
    margin-left: auto;
    margin-right: auto;
    box-sizing: content-box;
    border:thin;
    border-color: gray;
    border-style: groove;

}



