*{
    margin: 0;
    /* background-color: lightpink; */
}

.Course-Title{
    text-align: center;
    padding-block: 5px;
}

.Course-Image {
    float: right;
    position:relative;
}

.Course-Details{
    position: relative;
    background-color: yellow;
    box-sizing: content-box;
    float: left;
    overflow: hidden;
    border-radius: 5px;
    border-color: gray;
    border-style: groove;
}

.Course-Sections{
    padding-top: 40px;
}

.Paragraphs {
    padding:20px;
}

.Course-Table{
    margin-left: auto;
    margin-right: auto;
    box-sizing: content-box;
    border:thin;
    border-color: gray;
    border-style: groove;
}

.schedule{
    background-color:white;
}

.center th, center td{
    border-width: 2px;
    border-style: solid;
    border-collapse: collapse;
}

.center{
    width: 75%;
    background-color: white;
}

td, th{
    height: 5%;
}

.sem{
    text-transform: uppercase;
}

.center{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

form{
    display: inline;
}

.top ul li{
    display: inline;
}

.top{
    width: 98%;
    background: #ac3954;
    padding: 1%;
}

.sch{
    width: 1%;
}

.sem{
    width: 5%;
    text-align: left;
}

.search{
    width: 20%;
    text-align: right;
}

.ab, .pp, .chnyb, .ep, .sb{
    text-align: center;
}

.green{
    background-color: yellowgreen;
}

.orange{
    background: sandybrown;
}

.yellow{
    background-color: khaki;
}

.blue{
    background-color: rgb(133, 194, 255);
}
