*{
    margin: 0;
    /* background-color: lightpink; */
}

.Course-Title{
    text-align: center;
    padding-block: 5px;
}

.Course-Image {
    float: right;
    position:relative;
}

.Course-Details{
    position: relative;
    background-color: yellow;
    box-sizing: content-box;
    float: left;
    overflow: hidden;
    border-radius: 5px;
    border-color: gray;
    border-style: groove;
}

.Course-Sections{
    padding-top: 40px;
}

.Paragraphs {
    padding:20px;
}

.Course-Table{
    margin-left: auto;
    margin-right: auto;
    box-sizing: content-box;
    border:thin;
    border-color: gray;
    border-style: groove;
}

.schedule{
    background-color:rgba(242, 204, 143, 0.671);
}

.center th td{
    border-width: 2px;
    border-style: solid;
    border-collapse: collapse;
    border-color:rgba(242, 204, 143, 0.671);
}

.center{
    width: 75%;
    background-color: rgba(242, 204, 143, 0.671);
}

td, th{
    height: 5%;
}

.sem{
    text-transform: uppercase;
}

.center{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

form{
    display: inline;
}

.top ul li{
    display: inline;
}

.top{
    width: 100%;
    background: rgba(236, 71, 71, 0.548);
    padding: 1%;
}

.sch{
    width: 20%;
}

.sem{
    width: 10%;
}

.search{
    width: 20%;
}

.home{
    width: 5%;
}

.space{
    width: 45%;
}

.ab, .pp, .chnyb, .ep, .sb{
    text-align: center;
}


