*{
    margin: 0;
}

#notAMEME{
    position: relative;
    /* left: 32%; */
    transform: translate(0, -50%);
    color: rgb(0, 0, 255);
    font-size: 120%;
}

.course-title{
    text-align: center;
    padding-block: 5px;
}

.course-aside{
    width: 500px;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
}

.course-image {
    float: right;
    position:relative;
}

.course-details{
    position: relative;
    background-color: rgba(218, 248, 183, 0.952);
    box-sizing: content-box;
    float: right;
    overflow: hidden;
    border-radius: 5px;
    border-color: rgb(128, 128, 128);
    border-style: groove;
    padding: 0.25em 0.5em;
}

.course-sections{
    padding-top: 40px;
    padding-bottom: 10px;
    text-align: left;
    position: relative;
}

.paragraphs {
    padding:20px;
    text-align: left;
}

.paragraphs ul li {
    list-style-type: square;
    background: #cce5ff;
    margin: 5px;
}

.first-button {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    float: left;
}
  
.first-button:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}
  
.second-button {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    float: right;
}
  
.second-button:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

.third-button {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 6.25em;
    margin: 0 auto; 
    display: block;
}
  
.third-button:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

.container{
    display: grid;
    grid-template-columns:auto auto;
    grid-template-rows: auto auto ;
    grid-template-areas: 
    "main aside"
    "buttons buttons";
}

#main{
    background-color: rgb(186,85,211);
    grid-column: 1/1;
    grid-row:1;
    grid-area: main;
}
    

#aside{
    background-color: rgb(240, 241, 143);
    grid-column: 2/2;
    grid-row:1;
    grid-area: aside;
}

#buttons{
    background-color:rgb(133, 194, 255);
    grid-column: 1/2;
    grid-row: 2;
    grid-area: buttons;
    
}

ol {
    list-style: none; 
    padding: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    text-align: left;
  }
  
    ol a {
    position:relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: rgb(240, 230, 140);
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: .3s ease-out;
  }
 
@media only screen and (max-width:425px) {
    .container { 
        grid-template-columns: 1fr;
        grid-template-rows: 1.5fr 1fr .25fr;
        grid-template-areas:
        "main"
        "aside"
        "buttons";
    }
  } 

img{
    width: 100%;
}

table td{
    height: 50%;
    width: 20%;
}

table{
    text-align: center;
}

.contacts-headline h1{
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.contacts-headline h4{
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.contacts-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "aiga max vlad diana";
}

#aiga{
    grid-column: 1/1;
    grid-row: 1;
    grid-area: aiga;
}

#max{
    grid-column: 2/2;
    grid-row: 1;
    grid-area: max;
}

#vlad{
    grid-column: 3/3;
    grid-row:1;
    grid-area: vlad;
}

#diana{
    grid-column: 4/4;
    grid-row: 1;
    grid-area: diana;
}

@media only screen and (max-width:425px) {
    .contacts-wrapper { 
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "aiga"
        "max"
        "vlad"
        "diana";
    }
} 

.contacts-wrapper img{
    width: 60%;
    position: relative;
}


.about{
    text-align: left;
}