.carousel-inner {
  background-color: rgb(47, 79, 79);
}
.carousel-inner img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 100%;
}
.carousel-item_active {
  width: 250px;
  height: 500px;
}

.carousel-item {
  width: 250px;
  height: 500px;
}

.info {
  width: 40%;
  padding-block: 50px;
  background-color: rgb(211, 211, 211);
  font-size: 150%;
  text-align: center;
  border-style: groove;
}

/* .boxes td,
.boxes tr {
    
  margin-top: 5px;
  font-size: 130%;
  border-style: double groove;
  border-color: rgb(46, 78, 78);
}

#dmaall {
  background-color: rgb(169, 217, 233);
}

#dma {
    width: 25%;
    position: relative;
  border-radius: 10%;
  font-weight: bold;
}

#dmapic {
  box-sizing: border-box;
  height: 250px;
  border-radius: 10%;
}

#sdjall {
  background-color: rgb(231, 125, 125);
}

#sdj {
  border-radius: 10%;
  font-weight: bold;
}

#sdjpic {
  height: 250px;
  border-radius: 10%;
}

#rwdall {
  background-color: rgb(34, 184, 176);
}

#rwd {
  border-radius: 10%;
  font-weight: bold;
}

#rwdpic {
  height: 250px;
  border-radius: 10%;
}

#sepall {
  background-color: rgb(142, 236, 142);
}

#sep {
  border-radius: 10%;
  font-weight: bold;
}

#seppic {
  height: 250px;
  border-radius: 10%;
}*/
