.boxes td, .boxes tr
{
    margin-top: 5px;
    font-size: 150%;
    border-style: groove;
}

.info
{
    padding-block: 100px;
    background-color: rgb(213, 55, 87);
    font-size: 250%;
    text-align: center ;
}




