footer{
	margin-top: 10%;
	padding-top: 60px;
	height: 200px;
	width: 100%;
	background-color:#36384D;
	position: relative;
	color: #fff;
}

footer .pree{
	position: absolute;
	top: -40px;
	left: 10%;
	width: 80%;
	height: 80px;
	color: #fff;
	text-align: center;
	background-color: #EE2050;
	transform: skew(-10deg);
	box-shadow: 0px 0px 1px  #EE2050 ;
	line-height: 100%;
	font-size: 150%;
	text-shadow:2px 2px#36384D;
	display: flex;
    align-items: center;
    justify-content: center;
}

footer .subb{
	text-shadow: none;
	position: absolute;
	top: 240px;
	width: 100%;
	height: 80px;
	background-color: #EE2050;
	box-shadow: 0px 0px 1px  #EE2050 ;
	text-align: center;
	color: #fff;
	line-height: 40px;
}

footer .blockuri{
	font-family: 'Roboto', sans-serif;
}

footer h2{
	text-shadow: 3px 3px #111;
}

footer .bl{
	padding: 0px 10px;
}

footer .middle1{
	width: 40%;
	height: auto;
	float: left;
	text-shadow: 2px 2px 0px #111;
}

footer .middle2{
	width: 30%;
	height: auto;
	float: left;
	text-shadow: 2px 2px 0px #111;
}

footer .middle3{
	width: 20%;
	height: auto;
	float: left;
	text-shadow: 2px 2px 0px #111;
}

footer .middle3 a {
	text-decoration: none;
	color: #fff;
	text-shadow: 2px 2px 0px #111;
}

footer .middle3 a:hover{
	text-shadow: 2px 2px 0px #111;
	text-decoration: none;
	color: #EE2050;
	transition: all .2s ease-out;
}