#MeLo {
	width: 100%;
	background-color: #fff;
	border-bottom: 10px solid #EE2050;
	box-shadow: 0 5px 5px -5px #911331;
}

.loggo {
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
  	/* transform: skew(-1.5deg); */
	background-size: contain;
	background-position: center;
	width: 100%;
	height: 9.4em;
	max-width: 100%;
}

.header-colon {
	font-weight: bold;
	transform: skew(-9deg);
	width: 20%;
	height: 100%;
	font-size: 100%;
	text-align: center;
	background-color: #fff;
	max-width: 12%;
	max-height: 100%;
	line-height: 940%;
}

@media (max-width:1200px){
	.header-colon {
		display: block;
		line-height:940%;
	}
}

@media (max-width:1024px){
	.header-colon {
		display: block;
		line-height:400%;
	}
}

@media (max-width:768px){
	.header-colon {
		display: block;
		line-height:300%;
	}
}

@media (max-width:480px){
	.header-colon {
		display: block;
		line-height:250%;
	}
}

.header-colon:hover {
	background-color: #EE2050;
	color: #fff;
}

.header-colon a {
	text-shadow: none;
	color: #000;
	text-decoration: none;
}